{{- $categories := .Site.Taxonomies.categories }} {{- if gt (len $categories) 0 }}
<div class="sidebar-widget-area">
  <div class="title">
    <i class="fa fa-home fa-1x" style="color: #black"></i>
    {{ "Kategori Artikel" }}
  </div>
  <div class="widget-content">
    <ul class="widget__list">
      {{- range $name, $taxonomy := $categories }} {{- with $.Site.GetPage (printf "/categories/%s" $name) }}
      <li class="widget__item">
        <a class="widget__link" href="{{ .RelPermalink }}">
          <i class="fas fa-book-open" style="color: #black"></i>
          {{ .Title }}
        </a>
      </li>
      {{- end }} {{- end }}
    </ul>
  </div>
</div>
{{- end }}
